<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.gyull.webnovel.mapper.login.LoginMapper">
<select id="login" resultType="com.gyull.webnovel.domain.member.MemberVO">
SELECT member_idx, mem_email, mem_pw, mem_nickName, mem_authority, mem_isQuit
FROM member
WHERE mem_email = #{mem_email}
AND mem_pw = #{mem_pw}
</select>
<update id="loginRecentCheck">
UPDATE member
SET
mem_recentDate = now()
WHERE mem_email = #{mem_email}
AND mem_pw = #{mem_pw}
</update>

</mapper>