<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.gyull.webnovel.mapper.book.BookMapper">
<select id="bookInfo" resultType="com.gyull.webnovel.domain.book.BookVO">
SELECT book_idx, book_title, book_writer, book_genre, book_writeType, book_chapters, book_intro, book_state, book_views, book_rating, book_comments, book_imgName, book_imgUrl, book_imgthumbUrl, book_imgUuid 
FROM book
WHERE book_idx = #{book_idx}
</select>
<select id="chapterNotice" resultType="com.gyull.webnovel.domain.book.BookChapterVO">
SELECT chapter_idx, book_idx, book_title, chapter_category, chapter_title, chapter_content, chapter_regDate, chapter_views, chapter_rating, chapter_comments
FROM book_chapter
WHERE book_idx = #{book_idx} and chapter_category = '공지'
ORDER BY chapter_idx DESC
</select>
<select id="totalCount" resultType="int">
select count(*)
from book_chapter
where book_idx = #{book_idx} and chapter_idx > 0
</select>
<select id="pagination" resultType="com.gyull.webnovel.domain.book.BookChapterVO">
<![CDATA[
SELECT chapter_idx, book_idx, book_title, chapter_category, chapter_title, chapter_regDate, chapter_views, chapter_rating, chapter_comments
FROM book_chapter
WHERE book_idx = #{book_idx} and chapter_category = '연재'
ORDER BY
]]>
<choose>
	<when test="chapter_sort  == 'asc'">chapter_idx ASC</when>
	<when test="chapter_sort  == 'desc'">chapter_idx DESC</when>
	<otherwise>chapter_idx DESC</otherwise>
</choose>
<![CDATA[
limit #{skip}, #{amount};
]]>
</select>

<select id="chapterRead" resultType="com.gyull.webnovel.domain.book.BookChapterVO">
SELECT chapter_idx, book_idx, book_title, chapter_category, chapter_title, chapter_content, chapter_regDate, chapter_views, chapter_rating, chapter_comments
FROM book_chapter
WHERE book_idx = #{book_idx} and chapter_idx=#{chapter_idx}
</select>
</mapper>